.DS_Store
*.py[co]
__pycache__
*.egg-info
*.__pycache__
*.sqlite3
/env
/.venv
/node_modules
/components
.cache/
csv/
/feed/
build/
dist/
pimly.egg-info/
logs/
data/
/media/*
.webassets-cache/
src/pimly/static/assets/
_assets.css
_assets.js
_assets.*.css
_assets.*.js
/mail
/export_csv
tmp/
# IDEs
.idea/
/xml
*.csv
chromedriver/